
<style>
body {
	$body-bg: #ecf0f1;
}

$navbar-inverse-bg: #9b59b6; 

</style>
<h1>About this</h1>
<p> My name is Ignacio and im currently using the one month app to learn more about rails and web apps<br>

 


<span style= "font-size:100px;" class="glyphicon glyphicon-star"></span> 
</p>

<p> Testing the bootstrap buttons in this part: <hr><br>
<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<%= link_to "about.me", "http://www.about.me/ignacio.all", class: "btn btn-warning" %>

<%= link_to "tweet me", "http://twitter.com/Nacho_A92", class: "btn btn-info" %>
 </p>
